*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#form{
    margin-left: 25%;
    margin-top: 2%;
    padding-left: 2%;
    padding-bottom: 4rem;
    width: 50%;
    border: 2px solid slateblue;
}
@media (min-width:600px ) 
{
  .buttons
    {
         display: flex;
        flex-wrap: wrap; 
        text-align: center;
        float: right;

    }
}
.inline.fields
{
    display: flex;
}
.radiobutton
{
    margin: 1%;
}
#b
{
    width: 45%;
}
#a
{
    width: 45%;
}
.x
{
    padding: 2%;
    width:12%;
    font-size: large;
    background:white;
    border:none;
    float: right;
}
.store-cross{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1%;
}